<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>195000E0-AFE5-464A-9BB6-62BC6DF1B846</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88CF2EA9-1E40-4BDA-BF38-418490EE4040</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B6B8511-5E2D-495F-BC0A-29EBE95528AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC231E7F-F4D6-4037-AA7F-AEFE285A5FFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BE49CFEA-1815-47EB-B9B5-23B4FD63E461</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>46BA7889-3061-4B93-8BB3-5F74FA43D32B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>65B9C175-6DCF-4F4C-8ED9-4F99A978909D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>463BEEA7-B0F2-452C-8362-0A2E53A1E12E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A77BB09-EEE1-44B6-944F-179C00BAED09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46BA7889-3061-4B93-8BB3-5F74FA43D32B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DFE9BD8-5A95-41F0-8E83-58D5E808F922</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DFE9BD8-5A95-41F0-8E83-58D5E808F922</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>195000E0-AFE5-464A-9BB6-62BC6DF1B846</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A77BB09-EEE1-44B6-944F-179C00BAED09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B634D4E8-3134-4FC3-9034-2E71ED2524C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B634D4E8-3134-4FC3-9034-2E71ED2524C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B6B8511-5E2D-495F-BC0A-29EBE95528AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC231E7F-F4D6-4037-AA7F-AEFE285A5FFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DFE9BD8-5A95-41F0-8E83-58D5E808F922</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Mute/Unmute Microphone</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Microphone Mute/Unmute</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e "set volume input volume 100"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC231E7F-F4D6-4037-AA7F-AEFE285A5FFC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>111</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F12</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>463BEEA7-B0F2-452C-8362-0A2E53A1E12E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>current_vol=$(osascript -e 'input volume of (get volume settings)')
echo $current_vol | grep -o '[0-9]\+'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A77BB09-EEE1-44B6-944F-179C00BAED09</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>ON</string>
						<key>uid</key>
						<string>BE49CFEA-1815-47EB-B9B5-23B4FD63E461</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>OFF</string>
						<key>uid</key>
						<string>65B9C175-6DCF-4F4C-8ED9-4F99A978909D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2B6B8511-5E2D-495F-BC0A-29EBE95528AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>B634D4E8-3134-4FC3-9034-2E71ED2524C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Microphone</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>88CF2EA9-1E40-4BDA-BF38-418490EE4040</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/zsh

current_vol=$(osascript -e 'input volume of (get volume settings)')
current_vol=$current_vol | grep -o '[0-9]\+'

if [ $current_vol -eq 0 ]; then
	switch="OFF"
else
	switch="ON"
fi

echo $switch</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5DFE9BD8-5A95-41F0-8E83-58D5E808F922</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>195000E0-AFE5-464A-9BB6-62BC6DF1B846</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e "set volume input volume 0"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46BA7889-3061-4B93-8BB3-5F74FA43D32B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>195000E0-AFE5-464A-9BB6-62BC6DF1B846</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>2B6B8511-5E2D-495F-BC0A-29EBE95528AE</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>463BEEA7-B0F2-452C-8362-0A2E53A1E12E</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>46BA7889-3061-4B93-8BB3-5F74FA43D32B</key>
		<dict>
			<key>note</key>
			<string>OFF</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>5DFE9BD8-5A95-41F0-8E83-58D5E808F922</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>6A77BB09-EEE1-44B6-944F-179C00BAED09</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>88CF2EA9-1E40-4BDA-BF38-418490EE4040</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>B634D4E8-3134-4FC3-9034-2E71ED2524C6</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>DC231E7F-F4D6-4037-AA7F-AEFE285A5FFC</key>
		<dict>
			<key>note</key>
			<string>ON</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
