<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>acidham.alfredworkflow.microphonecontrol</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>10828EBF-9808-4DA5-8808-078C0BBD13D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6108F7D2-B8B2-405B-87E4-AA616359D806</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>195000E0-AFE5-464A-9BB6-62BC6DF1B846</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88CF2EA9-1E40-4BDA-BF38-418490EE4040</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B6B8511-5E2D-495F-BC0A-29EBE95528AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6108F7D2-B8B2-405B-87E4-AA616359D806</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BE49CFEA-1815-47EB-B9B5-23B4FD63E461</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D3F60A83-9A45-4082-A450-A98CFF876AFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>65B9C175-6DCF-4F4C-8ED9-4F99A978909D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42F75856-8A29-4336-8BD7-4704D831CBB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6108F7D2-B8B2-405B-87E4-AA616359D806</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>463BEEA7-B0F2-452C-8362-0A2E53A1E12E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E79D236B-612D-473A-BD47-331B15805F6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6108F7D2-B8B2-405B-87E4-AA616359D806</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74D3D365-6F8E-4614-85E5-9D52E1505B4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74D3D365-6F8E-4614-85E5-9D52E1505B4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>195000E0-AFE5-464A-9BB6-62BC6DF1B846</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF05C860-579D-49B0-A5EC-2BAFEDD2BBBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3F60A83-9A45-4082-A450-A98CFF876AFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B634D4E8-3134-4FC3-9034-2E71ED2524C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B6B8511-5E2D-495F-BC0A-29EBE95528AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3F60A83-9A45-4082-A450-A98CFF876AFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74D3D365-6F8E-4614-85E5-9D52E1505B4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF48D62C-DF86-43D1-857F-8797B2708483</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3F60A83-9A45-4082-A450-A98CFF876AFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E79D236B-612D-473A-BD47-331B15805F6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B634D4E8-3134-4FC3-9034-2E71ED2524C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Mute/Unmute Microphone</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Microphone Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>unmute</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>42F75856-8A29-4336-8BD7-4704D831CBB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
 set volume input volume 100
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6108F7D2-B8B2-405B-87E4-AA616359D806</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:unmute_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Unmute Microphone</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10828EBF-9808-4DA5-8808-078C0BBD13D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>111</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F12</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>463BEEA7-B0F2-452C-8362-0A2E53A1E12E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set cur_vol to input volume of (get volume settings)
	return cur_vol
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E79D236B-612D-473A-BD47-331B15805F6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Microphone</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>88CF2EA9-1E40-4BDA-BF38-418490EE4040</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set cur_vol to input volume of (get volume settings)
	if cur_vol is equal to 0 then
		return "OFF"
	else
		return "ON"
	end if
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>74D3D365-6F8E-4614-85E5-9D52E1505B4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>ON</string>
						<key>uid</key>
						<string>BE49CFEA-1815-47EB-B9B5-23B4FD63E461</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>OFF</string>
						<key>uid</key>
						<string>65B9C175-6DCF-4F4C-8ED9-4F99A978909D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2B6B8511-5E2D-495F-BC0A-29EBE95528AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>B634D4E8-3134-4FC3-9034-2E71ED2524C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>195000E0-AFE5-464A-9BB6-62BC6DF1B846</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set volume input volume 0
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D3F60A83-9A45-4082-A450-A98CFF876AFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:mute_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mute Microphone</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AF05C860-579D-49B0-A5EC-2BAFEDD2BBBB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>mute</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DF48D62C-DF86-43D1-857F-8797B2708483</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Microphone Control

* Mutes and Unmutes the microphone by pressing the Hotkey, or using the Keywords.

# How does it work?

* Microphone controller sets the input volume to 0 or to 100</string>
	<key>uidata</key>
	<dict>
		<key>10828EBF-9808-4DA5-8808-078C0BBD13D5</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>195000E0-AFE5-464A-9BB6-62BC6DF1B846</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>2B6B8511-5E2D-495F-BC0A-29EBE95528AE</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>42F75856-8A29-4336-8BD7-4704D831CBB3</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>463BEEA7-B0F2-452C-8362-0A2E53A1E12E</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>6108F7D2-B8B2-405B-87E4-AA616359D806</key>
		<dict>
			<key>note</key>
			<string>ON</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>74D3D365-6F8E-4614-85E5-9D52E1505B4C</key>
		<dict>
			<key>note</key>
			<string>CONFIRM</string>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>88CF2EA9-1E40-4BDA-BF38-418490EE4040</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>AF05C860-579D-49B0-A5EC-2BAFEDD2BBBB</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>B634D4E8-3134-4FC3-9034-2E71ED2524C6</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>D3F60A83-9A45-4082-A450-A98CFF876AFA</key>
		<dict>
			<key>note</key>
			<string>OFF</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>DF48D62C-DF86-43D1-857F-8797B2708483</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>E79D236B-612D-473A-BD47-331B15805F6A</key>
		<dict>
			<key>note</key>
			<string>GET VOL</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mic mute</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Mute Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mute_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mic unmute</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Unmute Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>unmute_keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/Acidham/alfred-microphone-control/</string>
</dict>
</plist>
